body {
    background: #131515;
    font-family: "Nunito", sans-serif;
}

p {
    margin: 0;
    font-size: 1.8em;
    font-weight: bolder;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: stretch;
    background-color: #2B2C28;
    border: 5px solid rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    width: 50%;
    margin: auto auto;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px inset rgba(0, 0, 0, 0.9);
}

.key {
    text-align: center;
    background-color: #339989;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    color: #FFFAFB;
    transition: 0.1s;
    border: 3px solid transparent;
}

.playing {
    border: 3px solid #7DE2D1;
    box-shadow: 0 0 5px #7DE2D1;
    transform: scale(0.9);
    transition: 0.2s;
}