html, body {
  margin: 0;
  padding: 0;
  background-color: #eee;
}

canvas {
  display: block;
  max-width: 100%;
  width: 100%;
  transform: scaleX(-1);
  filter: saturate(1.3) brightness(0.9);
}

#container {
  display: flex;
  width: 80%;
  margin: 20px auto;
  background-color: #aaa;
}

.tile {
  flex: 1;
  background-color: #123;
  min-width: 25%;
  min-height: 500px;
}

#input {

}

#training {
  display: flex;
  flex-direction: column;
}

#result {
  color: white;
  font-size: 20px;
  text-align: center;
}

.confidence {
  color: white;
}

.trainButton {
  margin: 5px auto;
  width: 50%;
  padding: 10px;
  border: 0;
  border-radius: 10px;
}

.class {
  background-color: #222;
}

.class > .confidence {
  transition: .5s;
  height: 24px;
  width: 1%;
}

.snapshots {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-height: 100px;
  height: 50px;
}

.snapshots img {
  flex: 1;
  margin: 2px;
  max-width: 20%;
  border-radius: 1px;
}
