body {
   background-color: #102030;
}
canvas {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

body{
	margin: 0;
}

@media screen and (max-width: 1000px){
	canvas {
		width: 100%;
	}
} 