@media (max-width: 800px) {
  body, html {
    overflow-y: auto;
    max-height: none;
  }

  #circle {
    width: 35vh;
    height: 35vh;
    border-width: 3px;
  }

  #circle-cont {
    width: 20vh;
    font-size: 3.4vh;
  }

  #container {
    display: block;
  }

  #main {
    min-height: 100vh;
  }

  #country-select {
    width: 80%;
    margin: 0;
    font-size: 3vh;
  }

  #infos {
    flex: 1;
  }

  .info {
    margin: 20px 10px;
    font-size: 3vh;
  }

  .info-text {
    font-size: 3.8vh;
  }

  #navbar {
    flex: 1;
    font-size: 6vh;
  }
}
