:root {
  --bg: #E6ECED;
  --text: #40798C;
  --sec: #022b25;
  --bg-sec: #70A9A1;
}

body, html {
  height: 100%;
  overflow-y: hidden;
  background-color: var(--bg);
  margin: 0;
  font-family: "Sarabun";
}

#loading-div {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: black;
}

#loading {
  width: 10vw;
  height: 10vw;
  position: absolute;
  border-radius: 50%;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  left: 50%;
  top: 50%;
  filter: invert(0.5);
  animation: rotateLoop 2s linear infinite;
}

#container {
  max-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#navbar {
  background-color: transparent;
  color: var(--text);
  font-size: 3vw;
}

#navbar h4 {
  text-align: center;
  padding: 5px;
  margin: 0;
}

#navbar span {
  padding: 0 20px;
}

#main {
  flex: 2;
  background-color: var(--bg-sec);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--sec);
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}

#active-country {
  flex: 2;
  max-width: inherit;
  text-align: center;
  position: relative;
}

#country-select {
  outline: none;
  padding: 10px;
  margin: 10px;
  border: 0;
  background-color: var(--bg);
  border-radius: 10px;
  font-size: 2vw;
  border-bottom: 2px solid var(--sec);
  color: var(--sec);
}

#active-cases {
  flex: 5;
  position: relative;
  text-align: center;
}

#circle {
  background-color: var(--bg);
  border-radius: 50%;
  border: 8px solid var(--text);
  width: 20vw;
  height: 20vw;
  box-shadow: 0 0 10px black;
}

.centered {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#circle-cont {
  width: 20vw;
  font-size: 1.8em;
}

#active-cases-text {
  margin: 0px;
}

#infos {
  flex: 4;
  display: flex;
  width: 95%;
  justify-content: space-around;
  align-items: center;
}

.info {
  text-align: center;
  flex: 1;
  padding: 20px 5px;
  font-size: 1em;
  margin: 10px 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  background-color: var(--bg);
  color: var(--sec);
  border: 3px solid var(--text);
}

.info-text {
  font-size: 1.2em;
  margin: 0;
  font-weight: bold;
}

#sec {
  /* display: none; */
  flex: 3;
  overflow-y: scroll;
  max-height: 100%;
  background-color: var(--bg-sec);
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.state {
  width: 70%;
  display: flex;
  padding: 10px;
  margin: 5px auto;
  border-radius: 5px;
  background-color: var(--bg);
  color: var(--sec);

}
.state p {
  margin: 0;
}

.name-state {
  font-weight: bold;

}

.flag {
  flex: 1;
  background-repeat: no-repeat;
}

.deaths {
  flex: 1;
}

.recovered {
  flex: 1;
}

.total {
  flex: 1;
}

.state * {
  text-align: center;
}

@keyframes rotateLoop {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
    z-index: -99;
  }
}
